<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

	<!--<configSections>
	</configSections>
	<connectionStrings>
		<add name="conn" connectionString="Persist Security Info=true;Data Source=QQQ;Initial Catalog=clothes;uid=sa;pwd=weiwei123321;" />
		<add name="clothesConnectionString" connectionString="Data Source=QQQ;Initial Catalog=clothes;Persist Security Info=True;User ID=sa;Password=weiwei123321" providerName="System.Data.SqlClient"/>

	</connectionStrings><!-->


 <configuration>
	 <system.webServer>
		 <modules runAllManagedModulesForAllRequests="true" />
		 <directoryBrowse enabled="true" />

	 </system.webServer>
	 
	<connectionStrings>
		<add name="conn" connectionString="Persist Security Info=true;Data Source=QQQ;Initial Catalog=clothes;uid=sa;pwd=weiwei123321;" />
		<add name="clothesConnectionString" connectionString="Data Source=QQQ;Initial Catalog=clothes;Persist Security Info=True;User ID=sa;Password=weiwei123321" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
