.title{
  width: 50px;
}

.wear-list-title.ui-state-focus {

}

.wear-list-info li {
  float: left;
  margin: 8px;
}

.wear-list-info li > img {
  width: 150px;
  height: 150px;
  cursor: pointer;
  margin-bottom: 8px;
}

